{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Thank you for participating
{% endblock %}

{% block content %}
    <div class="card card-body bg-light instructions">
        <ul>
        <li>
            Your total payoff in both the interactive and non-interactive stages equals <b>{{ participant.payoff|to2 }}</b> Lira which is worth <b>{{ eur|to2 }}</b> EUR.
        </li>
        <li>
            Please do not to discuss this study with other (potential) participants until Saturday 01-03-2020.
        </li>
        <li>
            You may now leave your cubicle, and report in the other room.
        </li>
        <li>
            <b>IMPORTANT</b>: please take the form with your personal code home with you.
        </li>
        </ul>
    </div>
{% endblock %}

