{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}

<div class="card card-body bg-light instructions">
    <ul>
        <li>
            In this last stage, you cannot earn additional Lira.
        </li>
        <li>
            Instead, we would like you to answer some general questions and evaluate a few statements.
        </li>
    </ul>
</div>
<br>
{% formfield player.accept_info label="I have read this information and would like to continue." %}
<br>
    {% next_button %}

{% endblock %}