{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Questionnaire (Page 5 of 5)
{% endblock %}

{% block content %}

    <div class="card card-body bg-light instructions" style="text-align:center">
        Finally, we would like to know some general things about you.
    </div>
     <table class="table">
    {% for field in form %}
        <tr>
            <td>
                {{ field.label }}
            </td>
            <td align="right">
                {{ field }}
            </td>
        </tr>
    {% endfor %}
    </table>
    <hr>
    {% next_button %}

{% endblock %}