{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}

    <div class="card card-body bg-light instructions" style="text-align:center">
    <b>
        Now we would like to know something more about how you made your decisions during the study as BU MANAGER.<br>
        Please indicate to what extent you agree with the following statements:
    </b>
    </div>
     <table class="table">
    {% for field in form %}
        <tr>
            <td>
                {{ field.label }}
            </td>
            <td align="right">
                {{ field }}
            </td>
        </tr>
    {% endfor %}
    </table>
    <hr>
    {% next_button %}

{% endblock %}