{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Welcome and thank you for your participation!
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
    <ul>
        <li>
            This study will take approximately 45 minutes. Please read the instructions carefully and be aware that you cannot go back to previous screens.
        </li>
        <li>
            During this study, we will ask you to make some decisions, which affect the amount of 'Lira' you earn. Lira is the currency we use in this study.
        </li>
        <li>
            After this study, we will convert the amount of Lira you have earned into EUR. Every Lira you earn is worth 0.50 EUR. Thus, you will be paid in real money.
        </li>
        <li>
            Please be patient when the computer asks you to wait. The reason is that we must sometimes wait for all participants before continuing the study.
        </li>
        <li>
            This study is anonymous, and we will only use the collected data for this study. Also, there is no psychological discomfort, no physical discomfort, nor any deception in this study.
        </li>
        <li>
            Participation is voluntary and you can stop at any time. Please note that by ending your participation prematurely you forfeit your rights to payment.
        </li>
    </ul>
</div>
<br>
{% formfield player.accept_info label="I understand and accept the abovementioned conditions." %}
<br>
{% next_button %}
{% endblock %}