{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions (Page 3 of 4)
{% endblock %}

{% block content %}
{% if player.extension == 0 %}
<div class="card card-body bg-light instructions">
    <ul>
        <li>
            The Supervisor divides the bonus pool between the two BU managers.
        </li>
        <li>
            The Supervisor always observes the total investment and the bonus pool.
        </li>
        <li>
            In addition, the Supervisor can buy information about the individual investments of both BU managers.
        </li>
        <li>
            To get access to this information, the Supervisor indicates his or her willingness to pay from 0 Lira to 5 Lira with increments of 0.1 Lira.
        </li>
        <li>
            The chance of getting the information increases linearly with the amount the Supervisor is willing to pay.
        </li>
        <li>
            Specifically, the computer compares the Supervisor’s willingness to pay to a random number between 0 Lira and 5 Lira.
        </li>
        <li>
            The computer draws a new random number every round, and every number between 0 Lira and 5 Lira has an equal probability to be chosen.
        </li>
            <ul>
                <li>
                    If the Supervisor’s willingness to pay < the random number, he or she does not receive the information and his or her reward is: 15 Lira.
                </li>
                <li>
                    If the Supervisor’s willingness to pay ≥ the random number, he or she receives the information and his or her reward is: 15 Lira – random number.
                </li>
            </ul>
        <li>
            If the Supervisor’s willingness to pay is 0 Lira, he or she does not receive the information and his or her reward is: 15 Lira.
        </li>
        <li>
            If the Supervisor’s willingness to pay is 5 Lira, he or she receives the information and his or her reward is: 15 Lira – 5 Lira = 10 Lira.
        </li>
        <li>
            Note that the Supervisor's reward does not depend on the individual investments nor on how he or she allocates the bonus pool.
        </li>
    </ul>
</div>
{% else %}
    <div class="card card-body bg-light instructions">
    <ul>
        <li>
            The Supervisor's task is to divide the bonus pool between the two BU managers.
        </li>
        <li>
            The Supervisor always observes the total investment and the bonus pool.
        </li>
        <li>
            In addition, the Supervisor can buy information about the individual investments of both BU managers.
        </li>
        <li>
            If the Supervisor does not want to buy this information, he/she immediately allocates the bonus pool between the two BU managers. The Supervisor’s reward is then equal to 15 Lira.
        </li>
        <li>
            If the Supervisor wants to buy this information, the Supervisor indicates his or her willingness to pay from 0.1 Lira to 5 Lira with increments of 0.1 Lira.
        </li>
        <li>
            The chance of getting the information increases linearly with the amount the Supervisor is willing to pay.
        </li>
        <li>
            Specifically, the computer compares the Supervisor’s willingness to pay to a random number between 0 Lira and 5 Lira.
        </li>
        <li>
            The computer draws a new random number every round, and every number between 0 Lira and 5 Lira has an equal probability to be chosen.
        </li>
            <ul>
                <li>
                    If the Supervisor’s willingness to pay < the random number, he or she does not receive the information and his or her reward is: 15 Lira.
                </li>
                <li>
                    If the Supervisor’s willingness to pay ≥ the random number, he or she receives the information and his or her reward is: 15 Lira – random number.
                </li>
            </ul>
        <li>
            If the Supervisor’s willingness to pay is 5 Lira, he or she receives the information and his or her reward is: 15 Lira – 5 Lira = 10 Lira.
        </li>
        <li>
            Note that the Supervisor's reward does not depend on the BU managers' individual investments nor on how he or she allocates the bonus pool.
        </li>
    </ul>
</div>
{% endif %}
<br>
{% formfield player.accept_3 label="I am finished and would like to continue." %}
<br>
{% next_button %}
{% endblock %}