{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions (Page 3 of 4)
{% endblock %}

{% block content %}
{% if player.extension == 0 %}
<div class="card card-body bg-light instructions">
    <ul>
        <li>
            The Supervisor decides how to divide the bonus pool between the two BU managers.
        </li>
        <li>
            The Supervisor always observes the total investment and the total bonus pool.
        </li>
        <li>
            After observing the total investment and the total bonus pool, the Supervisor has the opportunity to buy information about the individual investments.
        </li>
        <li>
            The price of information about the individual investments is a randomly determined number ranging from 0 Lira to 5 Lira. Every number from 0 Lira to 5 Lira has an equal probability to be chosen.
        </li>
        <li>
            To determine whether the Supervisor gets access to information about the individual investments, the Supervisor has to indicate his willingness to pay for the information. The willingness to pay can vary from 0 Lira to 5 Lira.
        </li>
        <li>
            The willingness to pay from the Supervisor is then compared with the randomly determined number.
        </li>
        <ul>
            <li>
                If the Supervisor’s willingness to pay ≥ randomly determined number, the Supervisor receives information about the individual investments and his reward is equal to: 15 Lira – Randomly Determined Number
            </li>
            <li>
                If the Supervisor’s willingness to pay < randomly determined number, the Supervisor does not receive information about the individual investments and his reward is equal to 15 Lira.
            </li>
        </ul>
        <li>
            The likelihood for the Supervisor of getting access to information about the individual investments increases linearly with the Supervisor’s willingness to pay: for a willingness to pay of 0 Lira the Supervisor is certain not to receive the information, while for an offer of 5 Lira the Supervisor is 100 percent certain to receive the information.
        </li>
        <li>
            Note that the Supervisor's total reward does not depend on the individual investments.  Also, the randomly determined number changes every period.
        </li>
    </ul>
</div>
{% else %}
    <div class="card card-body bg-light instructions">
    <ul>
        <li>
            The Supervisor decides how to divide the bonus pool between the two BU managers.
        </li>
        <li>
            The Supervisor always observes the total investment and the total bonus pool.
        </li>
        <li>
            After observing the total investment and the total bonus pool, the Supervisor has to indicate whether he/she wants to buy information about the individual investments.
        </li>
        <li>
            The price of information about the individual investments is a randomly determined number ranging from 0.1 Lira to 5 Lira. Every number from 0.1 Lira to 5 Lira has an equal probability to be chosen.
        </li>
        <li>
            If the Supervisor does not want to buy information about the individual investments, he/she immediately has to allocate the bonus pool over the two BU managers. The Supervisor’s reward is then equal to 15 Lira.
        </li>
        <li>
            If the Supervisor wants to buy information about the individual investments, the Supervisor has to indicate his willingness to pay for the information. The willingness to pay can vary from 0 Lira to 5 Lira.
        </li>
        <li>
            The willingness to pay from the Supervisor is then compared with the randomly determined number.
        </li>
            <ul>
                <li>
                    If the Supervisor’s willingness to pay ≥ randomly determined number, the Supervisor receives information about the individual investments and his reward is equal to: 15 Lira – Randomly Determined Number
                </li>
                <li>
                    If the Supervisor’s willingness to pay < randomly determined number, the Supervisor does not receive information about the individual investments and his reward is equal to 15 Lira.
                </li>
            </ul>
        <li>
            The likelihood for the Supervisor of getting access to information about the individual investments increases linearly with the Supervisor’s willingness to pay: for a willingness to pay of 0 Lira the Supervisor is certain not to receive the information, while for an offer of 5 Lira the Supervisor is 100 percent certain to receive the information.
        </li>
        <li>
            Note that the Supervisor's total reward does not depend on the individual investments.  Also, the randomly determined number changes every period.
        </li>
    </ul>
</div>
{% endif %}
<br>
{% formfield player.accept_3 label="I have finished and would like to continue." %}
<br>
{% next_button %}
{% endblock %}