{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Instructions (Page 2 of 4)
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions">
    <ul>
        <li>
            At the start of each round, each BU manager receives 10 Lira.
        </li>
        <li>
            Each BU manager decides how much of the 10 Lira to invest in a collaborative project with the other BU manager. This is the individual investment of a BU manager.
        </li>
        <li>
            Each BU managers keeps the amount of Lira that is not invested in the collaborative project for him/herself.
        </li>
        <li>
            The individual investments of both business unit managers are added up and is the total investment. The total investment is multiplied by 1.5. This number is the total bonus pool for the BU managers. The total bonus pool is thus based on the individual investment of each BU manager.
        </li>
        <li>
            The Supervisor decides how to divide the total bonus pool amongst the two BU managers. The Supervisor can choose any possible division of the total bonus pool.
        </li>
        <li>
            The total reward of a BU manager equals the remaining (uninvested) amount plus the share of the total bonus pool allocated to the BU manager by the Supervisor. The the total reward of a BU manager thus looks as follows:
        </li>
    </ul>
        <p align="center">10 – Individual Investment + amount allocated from total bonus pool</p>
</div>
<br>
{% formfield player.accept_2 label="I have finished and would like to continue." %}
<br>
{% next_button %}
{% endblock %}