{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ subsession.round_number  }} - BU Manager
{% endblock %}
{% block styles %}
<style>
       .myclass::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #007afe;
        border: 1px solid #000000;
        height: 21px !important;
        width: 10px !important;
        border-radius: 0px !important;
        background: #ffffff !important;
        cursor: pointer !important !important;
        -webkit-appearance: none !important;
        margin-top: -7px !important;
    }

    input[name=effort_b] {
        -webkit-appearance: none;
        margin: 18px 0;
        width: 100%;
    }

    input[name=effort_b]:focus {
        outline: none;
    }

    input[name=effort_b]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        {#box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;#}
        background: #007afe;
        border-radius: 0px;
        border: 0.0px solid #ffffff;
    }

    input[name=effort_b]::-webkit-slider-thumb {
        border: 0px;
        height: 0px;
        width: 0px;
        border-radius: 0px;
        -webkit-appearance: none;
    }
</style>
{% endblock %}
{% block content %}

    <div class="card card-body bg-light instructions">
        <ul>
            <li>Your reward is calculated as follows:<br>
            10 – Individual Investment + amount allocated from the bonus pool
            </li>
            <li>As a BU Manager, your task is to decide how much of the 10 Lira to invest in a collaborative project with the other BU manager.</li>
            <li>
                The sum of your and the other BU manager's individual investments (i.e., the total investment) is multiplied by 1.5 to determine the bonus pool for the BU managers.
            </li>
            <li>The Supervisor decides how to divide the bonus pool between you and the other BU manager. The Supervisor can choose any possible division in percentages of the bonus pool.</li>
        </ul>
    </div>
    <br>
    <input type="hidden" name="check_effort" value="" id="check_effort"/>
    <p align="center">Click on the bar below to reveal the slider.<br> Drag the slider to choose the amount you want to invest (0-10, whole numbers only):</p>
    <b><p id="demo2" align="center"><br></p></b>
    <div align="center">
    <input type="range" name="effort_b" value="None" step="1" style="width:500px" min="0" max="10" id="id_effort_b" class="form-control">
    </div>
    <br>
    {% next_button %}

{% endblock %}

{% block scripts %}
    <script>
    $(document).ready(function () {
        $('input[name=effort_b]').on('input change', function () {
            $('input[name=effort_b]').addClass('myclass');
        });
        $('input[name=effort_b]').on('input', function() {
            document.getElementById("demo2").innerHTML = $(this).val()+' Lira';
            $('#check_effort').val(1);
        });
    });
    </script>
{% endblock %}
