{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Round {{ subsession.round_number }} is about to start
{% endblock %}

{% block content %}
<div class="card card-body bg-light instructions" align="center">
    {% if subsession.round_number == 1 %}
    The computer has randomly formed groups of one Supervisor and two BU managers for this round.
    {% else %}
    The computer has randomly formed new groups of one Supervisor and two BU managers for this round.
    {% endif %}
    Please click OK to start this round.
</div>
<br>
{% next_button %}
{% endblock %}