{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ subsession.round_number  }} - Supervisor
{% endblock %}

{% block content %}
    <div class="card card-body bg-light instructions">
        <ul>
            <li>You have indicated that you want to pay a price for receiving information about the invidual investments of the two BU managers.</li>
            <li>The total investment of the two BU managers is {{ group.total_effort | floatformat:0 }} Lira, the total bonus pool that is available is <span id="pool_nummer">{{ group.pool | floatformat:2 }}</span> Lira.</li>
            <li>You can obtain information about individual investments by indicating your willingness to pay for it from 0.1 Lira to 5 Lira.</li>
            <li>Next, the computer will draw a random number between 0 Lira to 5 Lira. Every number between 0 Lira to 5 Lira has an equal probability to be chosen.</li>
            <ul>
                <li>
                    If the Supervisor’s willingness to pay < the randomly determined number, he or she does not receive the information and his or her total reward is: 15 Lira.
                </li>
                <li>
                    If the Supervisor’s willingness to pay ≥ the randomly determined number, he or she receives the information and his or her total reward is: 15 Lira – randomly determined number.
                </li>
            </ul>
            <li>
                When the Supervisor’s willingness to pay is 5 Lira, he or she receives the information and his or her total reward is: 15 Lira – randomly determined number.
            </li>
            <li>By dragging the slider, you can see how expressing a higher willingness to pay affects your likelihood of getting the information.</li>
        </ul>
    </div>
    <br>
    <input type="hidden" name="check_pricepay" value="" id="check_pricepay"/>

    <p align="center">Please indicate your willingness to pay for the information about the individual investments of the BU managers<br> (0.1-5.0, 1 decimal allowed):</p>
    <b><p id="demo1" align="center"><br></p></b>
    <div align="center">
    {% formfield group.pricepay_e label=None %}
    </div>
    <br>
    {% next_button %}

{% endblock %}

{% block scripts %}
    <script>
        $('input[name=pricepay_e]').on('input', function() {
            document.getElementById("demo1").innerHTML = $(this).val()+' Lira';
            $('#check_pricepay').val(1);
        });
    </script>
{% endblock %}
