{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ subsession.round_number  }} - Supervisor
{% endblock %}

{% block content %}
    <div class="card card-body bg-light instructions">
        <ul>
            <li>You have indicated that you want to pay for information about the individual investments of the BU managers.</li>
            <li>The total investment of the two BU managers is {{ group.total_effort | floatformat:0 }} Lira, the bonus pool that is available is <span id="pool_nummer">{{ group.pool | floatformat:2 }}</span> Lira.</li>
            <li>•	You can obtain information about individual investments by indicating your willingness to pay from 0.1 Lira to 5 Lira with increments of 0.1 Lira. </li>
            <li>
                •	The chance of getting the information increases linearly with the amount you are willing to pay.
            </li>
            <li>
                •	Specifically, the computer will draw a random number between 0 Lira to 5 Lira. Every number between 0 Lira to 5 Lira has an equal probability to be chosen.
            </li>
            <ul>
                <li>
                    If your willingness to pay < the random number, you do not receive the information and his or her reward is: 15 Lira.
                </li>
                <li>
                    If your willingness to pay ≥ the random number, you receive the information and his or her reward is: 15 Lira – random number.
                </li>
            </ul>
            <li>
                If your willingness to pay is 5 Lira, you receive the information and your reward is: 15 Lira – random number.
            </li>
            <li>By dragging the slider, you can see how your willingness to pay affects your chances of getting the information.</li>
        </ul>
    </div>
    <br>
    <input type="hidden" name="check_pricepay" value="" id="check_pricepay"/>

    <p align="center">Please indicate your willingness to pay for the information about the individual investments of the BU managers<br> (0.1-5.0, 1 decimal allowed):</p>
    <b><p id="demo1" align="center"><br></p></b>
    <div align="center">
    {% formfield group.pricepay_e label=None %}
    </div>
    <br>
    {% next_button %}

{% endblock %}

{% block scripts %}
    <script>
        $('input[name=pricepay_e]').on('input', function() {
            chance = ($(this).val() - 0) / (5-0);
            chance2 = (chance * 100).toFixed(0);
            document.getElementById("demo1").innerHTML = $(this).val()+' Lira ('+ chance2 + '%)';
            $('#check_pricepay').val(1);
        });
    </script>
{% endblock %}
