{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Want information? :-)
{% endblock %}

{% block content %}

    <div class="card card-body bg-light instructions">
        <ul>
            <li>Blabla ik ben Victor Maas en ik schrijf te veel tekst, maar ik wil echt participanten niet beinvloeden. Ik zweer het.</li>
            <li>How much of 5.0 Lira do you wish you invest in getting information</li>
            <li>Manager's total effort is <span id="pool_nummer">{{ group.pool }}</span> Lira.</li>
        </ul>
    </div>
    <br>
    <input type="hidden" name="check_pricepay" value="" id="check_pricepay"/>

    <p align="center">Please choose whether you want information by choosing your willingness to pay for it:):</p>
    <b><p id="demo1" align="center"><br></p></b>
    <div align="center">
    {% formfield group.pricepay label=None %}
    </div>

    {% next_button %}

{% endblock %}

{% block scripts %}
    <script>
        $('input[name=pricepay]').on('input', function() {
            document.getElementById("demo1").innerHTML = $(this).val()+' Lira';
            $('#check_pricepay').val(1);
        });
    </script>
{% endblock %}
