{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{ subsession.round_number  }} - Supervisor
{% endblock %}

{% block content %}
    {% if player.extension == 1 %}
    <div class="card card-body bg-light instructions">
        <ul>
            <li>You have indicated that you want to pay a price for receiving information about the invidual investments of the two BU managers.</li>
            <li>The total investment of the two BU managers is {{ group.total_effort | floatformat:0 }} Lira, the total bonus pool that is available is <span id="pool_nummer">{{ group.pool | floatformat:2 }}</span> Lira.</li>
            <li>You can obtain information about individual investments at a price that is equal to a randomly determined number from a uniform probability distribution ranging from 0.1 Lira to 5 Lira. Every number from 0.1 Lira to 5 Lira has an equal probability to be chosen.</li>
            <li>Your willingness to pay can vary from 0.1 Lira to 5 Lira. The higher your willingness to pay, the higher the probability that you will receive information.</li>
            <li>If your willingness to pay ≥ randomly determined number, you receive information about the individual investments and your reward is equal to: 15 Lira – Randomly Determined Number.</li>
            <li>If your willingness to pay < randomly determined number, you do not receive information about the individual investments and your reward is equal to 15 Lira.</li>
            <li>By dragging the slider, you can see how expressing a higher willingness to pay affects your likelihood of getting the information.</li>
        </ul>
    </div>
    {% elif player.extension == 0 %}
    <div class="card card-body bg-light instructions">
        <ul>
            <li>As a Supervisor, you need to allocate the bonus pool over the two BU managers.</li>
            <li>The total investment of the two BU managers is {{ group.total_effort | floatformat:0 }} Lira, the total bonus pool that is available is <span id="pool_nummer">{{ group.pool | floatformat:2 }}</span> Lira.</li>
            <li>You can obtain information about individual investments at a price that is equal to a randomly determined number from a uniform probability distribution ranging from 0.1 Lira to 5 Lira. Every number from 0.1 Lira to 5 Lira has an equal probability to be chosen.</li>
            <li>To determine whether you receive information about the individual investments, you have to indicate your willingness to pay for the information. Your willingness to pay can vary from 0 Lira to 5 Lira. The higher your willingness to pay, the higher the probability that you will receive information.</li>
            <li>If your willingness to pay ≥ randomly determined number, you receive information about the individual investments and your reward is equal to: 15 Lira – Randomly Determined Number.</li>
            <li>If your willingness to pay < randomly determined number, you do not receive information about the individual investments and your reward is equal to 15 Lira.</li>
            <li>By dragging the slider, you can see how expressing a higher willingness to pay affects your likelihood of getting the information.</li>
        </ul>
    </div>
    {% endif %}
    <br>
    <input type="hidden" name="check_pricepay" value="" id="check_pricepay"/>

    <p align="center">Please indicate your willingness to pay for information about the individual investments of BU managers A and B<br> (0.0-5.0, 1 decimal allowed):</p>
    <b><p id="demo1" align="center"><br></p></b>
    <div align="center">
    {% formfield group.pricepay label=None %}
    </div>
    <br>
    {% formfield group.confirm_price label="I have made my decision and would like to continue." %}
    <br>
    {% next_button %}

{% endblock %}

{% block scripts %}
    <script>
        $('input[name=pricepay]').on('input', function() {
            document.getElementById("demo1").innerHTML = $(this).val()+' Lira';
            $('#check_pricepay').val(1);
        });
    </script>
{% endblock %}
